<!doctype html>
<html>
    <head>
        <title>Credible - Join Us</title>
        <meta charset="UTF-8" />
        <script src="lib/jquery-min.js"></script>
        <script src="lib/underscore-min.js"></script>
        <script src="lib/backbone-min.js"></script>
        <script src="JobsView.js"></script>

        <script>
            $(document).ready(function() {
                var jobsView = new JobsView( {el:"#jobs_container"} );
                jobsView.render();
            });
        </script>

        <script type="text/template" id="jobs_template">
            <ul><label>Current openings at Credible:</label>
            <% _.each(jobList, function(job){ %>
                <li><a href=<%= _.escape(job.absolute_url) %>><%= _.escape(job.title) %></a></li>
            <% }); %>
            </ul>
        </script>
    </head>
    <body>
        <div id="jobs_container"></div>
    </body>
</html>